@import "tailwindcss";
@import "./basecoat.css";
@import "./theme.css";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

body {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.0125em;
	line-height: 1.5;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-rendering: optimizeLegibility;
}

@source "./views";
