@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@import "tw-animate-css";
@import "shadcn-vue/tailwind.css";
@import "./themes.css";
@import "./custom.css";

@custom-variant dark (&:is(.dark *));

html {
	scroll-behavior: smooth;
}

body {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.0125em;
	line-height: 1.5;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-rendering: optimizeLegibility;
}

@source "./views";
@source "./resources/js";

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
    @apply font-sans;
	}
}

@theme inline {
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
	from { height: 0; }
	to { height: var(--reka-accordion-content-height); }
}

@keyframes accordion-up {
	from { height: var(--reka-accordion-content-height); }
	to { height: 0; }
}
