package views

templ Home() {
	@base() {
		<main class="container mx-auto flex-1 flex flex-col items-center justify-center p-4">
			<h1 class="text-2xl font-bold">Welcome to the Andurel Framework!</h1>
			<p>This is a simple home page template to get you started.</p>
		</main>
	}
}
